.titulo h1 {
    color: #E3F2FD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url(titulo.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    padding-top: 4%;
    margin: 0px;
}
.producto-contenedor{
    align-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E3F2FD;
    ;
}
li {
    float: left;
    align-content: center;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    background-color: #9b9ec5;
    color:white;
}
.modal-carrito{
    padding: 10px;
    background-color: rgb(225, 206, 245);
}
.card{
    font-style: oblique;
}
.card-body{
    padding-bottom: 20px;
}
.card-img{
    max-width: 50%;
}
